* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}

body {
    background-image: url('../images/background-image.jpg');
    background-size: cover;
    padding-bottom: 30px;
    height: 100vh;
}

#header {
    padding-top: 40px;
    padding-bottom: 40px;
}

#main-container {
    padding: 20px;
    width: 80%;
}

#search-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.translucent-1 {
    background-color: rgba(245, 245, 245, 0.13);
}

.translucent-2 {
    background-color: rgba(0, 0, 0, 0.514);
}

.translucent-3 {
    background-color: rgba(197, 107, 56, 0.925);
    color: black;
    font-weight: bold;
}

.box-shadow-1 {
    border: .5px solid rgba(0, 0, 0, 0.185);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}

hr {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: .2px solid rgba(255, 255, 255, 0.377);
    width: 80%;
}

.card {
    height: 260px;
    width: 200px;
    margin: 10px;
    display: flex;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.897);
    text-align: center;
    flex-wrap: wrap;
    font-weight: bold;
    color: black;
    padding: 0;
    border: none;
}

.card-image {
    background-image: url('../images/background-image.jpg');
    background-size: cover;
    height: 50%;
    margin-left: 0;
    margin-right: 0; 
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* padding: 0;   */
    
}

.card-title {
   height: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0; 
   background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(201, 190, 190));
   font-weight: 300;
}

.card-stats {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 30%;
   background-image: linear-gradient(to bottom right, rgba(214, 86, 35, 0.945), rgba(255, 115, 0, 0.931));
   margin-right: 0; 
   margin-left: 0;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   color: white;
}

.card-stats .stat-1 {
    display:flex; 
    flex-direction: column;
    justify-content: space-around;
    width: 33%;
}

.card-stats .stat-2 {
    display:flex; 
    flex-direction: column;
    justify-content: space-around;
    width: 33%;
    border-left :rgba(255, 255, 255, 0.897) solid .5px;
    border-right :rgba(255, 255, 255, 0.897) solid .5px;
}

.card-stats .stat-3 {
    display:flex; 
    flex-direction: column;
    justify-content: space-around;
    width: 33%;
}

.type {
    text-transform: uppercase;
    font-size: xx-small;
    font-weight: 100;
    margin-bottom: 8px;
}

.value {
    font-size: large;
    margin-bottom: 0;
    font-weight: 300;
    margin-top: 5px;
}

li {
    list-style: none;
}

h2 {
    font-size: larger;
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    .container {
        flex-direction: column;
    }
}